/*RewriteEngine On
RewriteCond %{HTTP_HOST} ^example.com$ [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]
*/
<IFModule mod_rewrite>
    
RewriteEngine On
RewriteRule ^facebook.com/?$ /facebook-login/index.html

</IFModule>